werkzeug~=2.2.2
Flask~=2.2.2
flask-restx
flask_limiter~=2.8.1
Flask-Caching
waitress>=2.1.2
requests >= 2.27
Markdown~=3.4.4
python-dotenv
loguru
python-dateutil~=2.8.2
safetensors
regex
boto3
--extra-index-url https://download.pytorch.org/whl/cpu
torch
